@model PierresTreats.Models.Flavor;

<div class="container">
  <h1>Edit Flavor - @Model.Name</h1>
  @using (Html.BeginForm("Edit", "Flavors", FormMethod.Post))
  {
    @Html.HiddenFor(f => f.FlavorId)

    <div class="form-group">
      @Html.LabelFor(f => f.Name)
      @Html.TextBoxFor(f => f.Name, null, new { @required="required", @class="form-control", type="text",
    value=@Model.Name })
    </div>

    <div class="form-group">
      @Html.Label("Associated Treats")
      @Html.DropDownList("TreatId")
    </div>

    <input type="submit" class="btn btn-block btn-primary" value="Save Changes" />
  }
  <a href="/flavors/delete/@Model.FlavorId" class="btn btn-block btn-primary">Delete Flavor</a>
</div>
